@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Студенты";
    ViewData["UserName"] = $"{Model.LastName} {Model.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<div class="page-header">Студенты</div>
<div class="students-table">
    <div class="student-nav">
        <input id="student-name"
               class="student-name"
               type="text"
               placeholder="Поиск" />
        <input id="open-button"
               type="button"
               class="btn-action"
               value="Добавить" />
        <input id="reload-button"
               type="button"
               class="btn-info"
               value="Обновить" />
    </div>
    <div class="header">
        <div class="row">
            <div>№</div>
            <div>Фамилия, имя</div>
            <div>Группа</div>
            <div>Задачи</div>
        </div>
    </div>
    <div class="body">
        <div class="loader"></div>
    </div>
</div>
<dialog class="create-student-modal" id="create-student-modal">
    <div class="container">
        <div class="header">Новый студент</div>
        <input type="text" class="modal-input" id="firstname" placeholder="Имя" autocomplete="off" />
        <input type="text" class="modal-input" id="lastname" placeholder="Фамилия" autocomplete="off" />
        <input type="text" class="modal-input" id="login" placeholder="Логин" autocomplete="off" />
        <input type="password" class="modal-input" id="password" placeholder="Пароль" />
        <div class="footer">
            <input id="create-student-button" type="button" class="btn-action" value="Добавить" />
            <input type="button"
                   class="btn-cancel"
                   id="close-button"
                   value="Отмена" />
        </div>
    </div>
</dialog>