@using ExamManager.Models
@using ExamManager.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Студенты";
    ViewData["UserName"] = $"{Model.LastName} {Model.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<div class="page-header">Студенты</div>
<component type="typeof(UsersTable)" render-mode="ServerPrerendered"
           param-CurrentUserID="@Model.ObjectID"/>
<dialog class="create-student-modal" id="create-student-modal">
    <div class="header">Добавить студентов</div>
    <div class="container">
        <input type="button" id="new-user" class="btn-info" value="Новый студент" />
        <input type="file" name="file" id="import" class="input-file" />
        <label for="import" class="input-file">
            <i class="icon fa fa-check"></i>
            <span class="js-fileName">Загрузить файл</span>
        </label>
    </div>
    <div class="footer">
        <input type="button" id="close-button" class="btn-cancel" value="Закрыть">
    </div>
</dialog>