@using ExamManager.Models
@model (User User, StudyTask Task)
@{
    ViewData["Title"] = Model.Task.Title;
    ViewData["UserName"] = $"{Model.User.LastName} {Model.User.FirstName}";
    ViewData["IsAdmin"] = Model.User.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/css/account/task.css" />
<input id="task-title" class="input-standard" style="width: 70%; font-size: 25px" placeholder="Название задания" value="@Model.Task.Title" />
<div class="description">
    <textarea id="task-description" class="input-standard" style="resize: none" cols="100%" rows="10" placeholder="Описание">@Model.Task.Description</textarea>
</div>

<div class="footer">
    @if (Model.User.Role == UserRole.STUDENT)
    {

        <input type="button" class="btn-info" value="Проверить" />
    }
    else
    {
        <input id="save-button" type="button" class="btn-action" value="Сохранить" />
    }
</div>