@model ExamManager.Models.UserViewModel
@{
    ViewData["Title"] = "Администратор";
    ViewData["UserName"] = $"{Model!.MiddleName} {Model!.FirstName}";
    Layout = "_AccountLayout";
}

<div class="actions">
    <div class="search-form">
        <div class="nav">
            <input type="text" placeholder="Найти" class="search-input" />
        </div>
        <!--<div class="content">
            <div class="search-item">
              <a class="header">ИКБО-01-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-02-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-03-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-04-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-05-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-06-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-07-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-08-20</a>
            </div>
            <div class="search-item">
              <a class="header">ИКБО-09-20</a>
            </div>
        </div>-->
    </div>
    <a href="#" class="btn-action">Добавить</a>
</div>